.jumbotron-fluid {
  background-image: url("../Flashcards-Fun/assets/images/birds.jpg");
  background-size: cover;
  height: 100vh;
}

.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn-insertion-form {
  display: inline-block;
  width: 100%;
  margin-top: 1.5rem;
}

div.modal-content {
  text-align: center;
}
